<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="cust_info.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="mynav.css">
    <script src="jquery-3.6.4.min.js"></script>
    <script src="index.js"></script>
    <script src="mynav.js"></script>
    <link rel="shortcut icon" href="images/cafe_fav.png" type="image/x-icon">
	<title>Cup of Joy, Where Every Sip Brings Happiness</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynav"><span
                    class="visually-hidden">.</span><span class="navbar-toggler-icon"></span></button>
            <div>
                <a  class="navbar-brand"><span><strong>Cup Of Joy</strong></span></a>
            </div>
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link active" style="color:rgb(255, 255, 255);">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#"
                            style="color:rgba(255, 255, 255);">Billing</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/calc}" class="dropdown-item bg-dark d-fle" data-bss-hover-animate="pulse"
                                style="color:rgba(255, 255, 255);">Calculator</a>
                            <a th:href="@{/menu2}" class="dropdown-item bg-dark d-fle" data-bss-hover-animate="pulse"
                                style="color:rgba(255, 255, 255);">Calculate Bill</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/about}" class="nav-link active" style="color:rgba(255, 255, 255);">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/addsales}" class="nav-link active" style="color:rgba(255, 255, 255);">Add Sales</a>
                    </li>
                    <li>
						<a th:href="@{/customers}" class="nav-link active" style="color:rgba(255, 255, 255);">Customers Record</a>
					</li>
					<li>
						<a th:href="@{/sales}" class="nav-link active" style="color:rgba(255, 255, 255);">Sales Record</a>
					</li>
					
					<li class="nav-item">
                        <a th:href="@{/contact1}" class="nav-link active" style="color:rgba(255, 255, 255);">Contact</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" style="color:rgba(255, 255, 255);">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img src="" alt="" class="img">
    <div class="form">
        <!-- <form action=SalesServlet method=post> -->
        <form action="#" th:action="@{/addsales}" th:object="${sales}" method="post">
        
            <div>
                <h3>
                    Add Total Sales
                </h3>
                <div class="input">
                    <input type="date" name="date" placeholder="Today date">
                </div>
                <div class="input">
                    <input type="text" name="totalsales" placeholder="Total Sales">
                </div>
                
                <div class="btn">
                    <button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>